<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KobraStocks</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>KobraStocks</h1>
        <div class="hamburger" onclick="toggleDropdown()">☰</div>
        <nav>
            <ul id="nav-menu">
                <li><a href="https://kobrastocks.tech/index.html">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
            <div id="nav-dropdown" class="nav-dropdown">
                <a href="https://kobrastocks.tech/index.html">Home</a>
                <a href="About.html">About</a>
                <a href="Services.html">Services</a>
                <a href="Contact.html">Contact</a>
            </div>
        </nav>
    </header>
    <form action="results.html" method="get" class="search-container">
    <div class="main-content">
        <div class="search-container">
            <div class="search-wrapper">
                <span class="search-prefix">$</span>
                <input type="text" placeholder="Search for stocks..." id="searchBar" name="ticker">
                <button type="submit">Search</button>
            </div>
        </div>
        
        <div class="cards-container">
            <label class="card">
            <div onclick="toggleCard(this)">
                <input type="checkbox" name="RSI"  hidden>
                <h2>RSI (Relative Strength Index)</h2>
                <p>A momentum oscillator that measures the speed and change of price movements.</p>
                <div class="hidden-info">
                    <p>RSI is typically used to identify overbought or oversold conditions in a market.</p>
                </div>
            </div>
        </label>
        <label class="card">
            <input type="checkbox" name="MACD"  hidden>
            <div onclick="toggleCard(this)">
                <h2>MACD (Moving Average Convergence Divergence)</h2>
                <p>A trend-following momentum indicator that shows the relationship between two moving averages of a security’s price.</p>
                <div class="hidden-info">
                    <p>MACD is used to spot changes in the strength, direction, momentum, and duration of a trend in a stock's price.</p>
                </div>
            </div>
        </label>
        <label class="card">
            <input type="checkbox" name="MA50"   hidden>
            <div  onclick="toggleCard(this)">
                <h2>MA50 (50-Day Moving Average)</h2>
                <p>An indicator that averages out the closing prices for the last 50 days and updates with each new closing price.</p>
                <div class="hidden-info">
                    <p>It's used to analyze the mid-term trend and determine support or resistance levels.</p>
                </div>
            </div>
        </label>
        <label class="card">
            <input type="checkbox" name="MA9"  hidden>
            <div onclick="toggleCard(this)">
                
                <h2>MA9 (9-Day Moving Average)</h2>
                <p>A short-term moving average that averages the closing prices over the past 9 days.</p>
                <div class="hidden-info">
                </div>
                    <p>Often used by traders to spot short-term trend reversals and as a component of the MACD.</p>
                </div>
            </div>
        </label>
        </div>
        </form>
    </div>
    <footer>
        <p>&copy; 2024 KobraStocks. All rights reserved.</p>
    </footer>
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("nav-dropdown");
            dropdown.classList.toggle("show");
        }
        
        function toggleCard(card) {
            card.classList.toggle('active');
        }
        function updateCheckboxValue(checkbox) 
        {
            checkbox.value = checkbox.checked ? "True" : "False";
        }
    </script>
</body>
</html>

