:root {
    --main-bg-color: #000000; /* Black background */
    --accent-color: #00ff00; /* Bright green for accents */
    --text-color: #00ff00; /* Bright green for text */
    --font-family: 'Courier New', Courier, monospace; /* Monospace font for terminal feel */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 24px;
    color: var(--accent-color);
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus {
    color: var(--accent-color);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#searchBar {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #121212;
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00cc00;
}

.trending-rows {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.trending-stock {
    background-color: #121212;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    border: 1px solid #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
}
